.item1Container {
	/* padding: 64px 0; */
	/* border-bottom: 1px solid white;
	text-align: center;*/
	margin-bottom: 20px;
}

.heading2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.8em;
}

.description {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #a4a4a4;
	line-height: 1.8em;
	text-align: center;
}

.space2 {
	height: 40px;
}

.space3 {
	height: 100px;
}

.vimeoVideoContainer > div {
	max-width: 1040px;
	height: 700px;
}

@media (max-width: 744px) {
	.vimeoVideoContainer > div {
		max-width: 1040px;
		height: 300px;
	}
}
