.headerTextContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 64px 0;
	/* border-bottom: 1px solid white; */
}

.backArrow:hover,
.backText:hover {
	opacity: 0.2;
	transition: opacity 1s;
}

.backArrow {
	width: 40px;
	height: 40px;
}

.backText {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 400;
	margin-top: 14px;
	text-decoration: none;
}

.description {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
	opacity: 50%;
	line-height: 1.8em;
}

.clients {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
	opacity: 50%;
	line-height: 1.8em;
}

@media (max-width: 744px) {
	.headerTextContainer {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.headerTextLeftSection {
		margin-bottom: 48px;
		margin-right: 0px !important;
	}

	.backText {
		font-size: 14px;
	}
}

.headerTextLeftSection {
	flex: 1;
	margin-right: 48px;
}

.heading1 {
	font-size: 32px;
	/* font-weight: bold; */
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.8em;
}

.space2 {
	height: 16px;
}

.headerTextRightSection {
	width: 200px;
}

.heading3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.8em;
	font-size: 16px;
	/* font-weight: bold; */
}

.space2 {
	height: 16px;
}
