.testimonialContainer {
	display: flex;
	width: 70%;
	align-items: center;
	padding: 100px 0px 100px 0px;

	.testimonial-content-container {
		margin-left: 40px;
		flex: 4;
		margin-right: 40px;
		p {
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			color: white;
			opacity: 50%;
			line-height: 1.8em;
		}
		h3 {
			color: white;
			font-size: 14px;
			font-family: 'Montserrat-black', sans-serif;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 4px;
		}
	}

	.testimonialLogo {
		flex: 2;
		width: 500px;
	}

	.chevron-container {
		flex: 1;
		.chevron-left {
			width: 28px;
			height: auto;
		}
		.chevron-right {
			width: 28px;
			height: auto;
		}
	}
}
