.navbar-component-container {
	width: 100vw;
	position: absolute;
	z-index: 200;
	// padding: 20px 20px 20px 20px;

	.navbar {
		float: right;
		margin: 20px 20px 20px 20px;
		z-index: 100;
	}
	.still-image {
		height: 40px;
		float: left;
		margin: 26px 20px 20px 20px;
	}

	.menu-bar {
		opacity: 1;
		display: none;
		// align-items: center;
		// justify-content: center;
	}
}
