#extendable-box-initial {
	position: relative;
	overflow: hidden;
	height: 493px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width 1.5s;
}

#right-triangle {
	height: 493px;
	width: 201px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}

#left-triangle {
	height: 493px;
	width: 201px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
