.menu-items-container {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: #0f0e0f;
	// right: 0;
	// top: 0;
	z-index: -2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tvStatic,
.dark-overlay {
	/* Make video to at least 100% wide and tall */
	min-width: 100%;
	min-height: 100%;
	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;
	/* Center the video */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dark-overlay {
	opacity: 0.5;
	z-index: 1;
	background-color: black;
}

.menu-background-video {
	/* Make video to at least 100% wide and tall */
	min-width: 100%;
	min-height: 100vh;
	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;
	/* Center the video */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 200;
	height: 100vh;
}

.test {
	color: white;
}
