.portfolio-container {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #100f10;
	visibility: hidden;

	// border-style: solid;
	// border-color: green;
	// border-width: 10px;
	// overflow: hidden;
}

// /* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	//can do this for when more than 4 panels
	// .panel-container {
	// 	flex-direction: column;
	// }
	.welcome-container {
		// border-color: blue;
		width: 100vw;
	}
	.homepage-container {
		// border-color: red;
		width: 100vw;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.myVideo {
		position: fixed;
		left: 0;
		bottom: 0;
		height: 100vh;
		width: auto;
		opacity: 0%;
		overflow: hidden;
	}
}

@media only screen and (max-width: 500px) {
	.welcome-container {
		flex-direction: column;
	}

	.welcome-container h2 {
		margin: 14px 0px 0px 0px;
	}
}
