.homepage-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0f0e0f;
	visibility: hidden;
	/* padding: 20px 20px 20px 20px; */
}

.home-panel-container {
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 88vw;
	display: none;
	overflow: hidden;
}

.welcome-container {
	height: 100vh;
	display: flex;
	z-index: 1;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

.welcome-container h2 {
	margin-right: 20px;
	color: white;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 8px;

	overflow: hidden;
}

.home-video {
	position: fixed;
	left: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100vh;
	opacity: 0;
	overflow: hidden;
}

@media only screen and (max-width: 768px) {
	.welcome-container {
		width: 100vw;
	}
	.homepage-container {
		width: 100vw;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/* 
	.home-video {
		position: fixed;
		left: 0;
		bottom: 0;
		height: 100vh;
		width: auto;
		opacity: 0%;
		overflow: hidden;
	} */
}

@media only screen and (max-width: 1000px) {
	.welcome-container {
		flex-direction: column;
	}

	.welcome-container h2 {
		margin: 8px 0px 8px 0px !important;
	}
}

@media only screen and (max-width: 500px) {
	.welcome-container {
		flex-direction: column;
	}

	.welcome-container h2 {
		margin: 14px 0px 0px 0px;
	}
}
