.homepage-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0f0e0f;
	visibility: hidden;

	// border-style: solid;
	// border-color: green;
	// border-width: 10px;
	// overflow: hidden;
}

.panel-container {
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	display: none;
	// border-style: solid;
	// border-color: pink;
	// border-width: 5px;
	overflow: hidden;
}

.welcome-container {
	height: 100vh;
	display: flex;
	z-index: 1;
	justify-content: center;
	align-items: center;
	// border-style: solid;
	// border-color: orange;
	// border-width: 2px;
	overflow: hidden;
}

.welcome-container h2 {
	margin-right: 20px;
	color: white;
	font-size: 36px;
	font-family: 'Montserrat-black', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 8px;
	// border-style: solid;
	// border-color: orange;
	// border-width: 2px;
	overflow: hidden;
}

.home-video {
	position: fixed;
	left: 0;
	bottom: 0;
	// height: 100vh;
	width: 100vw;
	opacity: 0;
	overflow: hidden;
}

// /* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	//can do this for when more than 4 panels
	// .panel-container {
	// 	flex-direction: column;
	// }
	.welcome-container {
		// border-color: blue;
		width: 100vw;
	}
	.homepage-container {
		// border-color: red;
		width: 100vw;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.home-video {
		position: fixed;
		left: 0;
		bottom: 0;
		height: 100vh;
		width: auto;
		opacity: 0%;
		overflow: hidden;
	}
}

@media only screen and (max-width: 500px) {
	.welcome-container {
		flex-direction: column;
	}

	.welcome-container h2 {
		margin: 14px 0px 0px 0px;
	}
}
