.contact-page-outer-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #191919;
	visibility: hidden;
}

.btn {
	background-color: #fc9b22;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
	font-size: 18px;
	font-weight: 900;
	text-transform: none;
	letter-spacing: 0.4em;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #fdab44;
}

.contact-container {
	justify-content: center;
	align-items: center;
	width: 100vw;
	display: none;

	flex-wrap: wrap;
}

.contact-content-container {
	flex: 1;
	padding: 40px 40px;
}
.contact-content-container h2 {
	color: white;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0px;
	/* opacity: 0.6; */
}

.contact-content-container h1 {
	color: white;
	font-size: 36px;
	font-family: 'Montserrat-black', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin-bottom: 40px;
}
.contact-image {
	width: 500px;
	height: 80vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact-image-container {
	flex: 1;
	text-align: center;
	padding: 100px 0px 0px 40px;
}

.welcome-container {
	height: 100vh;
	display: flex;
	z-index: 1;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

.home-video {
	position: fixed;
	left: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100vh;
	opacity: 0;
	overflow: hidden;
}

.welcome-container h2 {
	margin-right: 20px;
	color: white;
	font-size: 36px;
	font-family: 'Montserrat-black', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 8px;

	overflow: hidden;
}

@media only screen and (max-width: 854px) {
	.contact-content-container {
		text-align: center;
		margin-bottom: 100px;
	}
	.contact-image-container {
		padding: 100px 40px 20px 40px;
	}
}

@media only screen and (max-width: 768px) {
	.welcome-container {
		width: 100vw;
	}
	.contact-container {
		width: 100vw;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.contact-image-container {
		width: 100vw;
	}
	.contact-content-container {
		flex-direction: column;
	}
	.contact-content-container h1 {
		font-size: 28px;
	}
}

@media only screen and (max-width: 576px) {
	.contact-image {
		width: 100%;
		min-width: 100px;
		height: auto;
	}
}

@media only screen and (max-width: 500px) {
	.welcome-container {
		flex-direction: column;
	}

	.welcome-container h2 {
		margin: 14px 0px 0px 0px;
	}
}

.footer__ButtonsWrapper-sc-1bn1rrm-6,
.eabqZQ {
	display: none !important;
}
